{% extends 'base.html' %}

{% block title %}
    Listado de ordenes
{% endblock %}

{% block content %}


    <h1>Lista de ordenes</h1>

    {% for order in orders %}

    <div class="card" style="width: 18rem;">
        <img src="https://www.speedagro.com.ar/uploads/productos/352065d7ec78d5e8f685fad1fdeec893.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">El cliente: {{order.client}}</h5>
        <p class="card-text">Compro el producto: {{order.product}} el {{order.creation_time}}</p>
        <p>El pago se realizo con: {{order.payment_method}}</p>
        <a href="#" class="btn btn-primary">Ver detalle</a>
            </div>
      </div>

        

    {% endfor %}

{% endblock %}